
* {
    padding: 0;
    margin: 0;
}

canvas {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}

input{
    position: absolute;
    width: 100%;
}

#watermark{
    color: rgba(255, 255, 255, 0.1); 
    position: absolute; 
    left: 15%; 
    top: 20%;
    font: 10vw Helvetica;
}

.controls{
    position: absolute;
    left: 50px;
    top: 50px;
    color: white;
    font: 15px "arial black"
}

button{
    padding: 10px;
    width: 80px;
}